<div class="row sub-file">
        <div class="col-lg-12 col-md-12 col-sm-pull-12 col-xs-pull-12 add-list" style="float:left;">
          <button class="reset" type="button" id="reset" (click)="reset(dt1);"> Reset </button>
     </div>
        <p-table #dt1 [columns]="cols" [value]="subJobs" [paginator]="true" sortMode="multiple" [rows]="10" [rowsPerPageOptions]="[10,50,100,150,200]">
                <ng-template pTemplate="caption"> 
                        <div style="text-align: right">        
                            <!--<i class="fa fa-search" style="margin:4px 4px 0 0;color:#333333;"></i>-->
                            <!--<input type="text" pInputText size="50" [value]="" placeholder="Search..." (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:200px;" class="filter-in">-->
                        </div>
                    </ng-template>
            <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" >
                            {{col.header}}
                            <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" style="padding:3px;">
                                <p-multiSelect *ngSwitchCase="'status'" [(ngModel)]="status" [options]="statusFilters" defaultLabel="Status" [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
                                <!--<input *ngSwitchCase="'status'" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)">-->
                                <input *ngSwitchCase="'subJobCode'" [(ngModel)]="fileNumber" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, 'contains')">
                                <input *ngSwitchCase="'customerName'" [(ngModel)]="customerName" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, 'contains')">
                                <!--<input *ngSwitchCase="'lossAddress'" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input *ngSwitchCase="'city'" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input *ngSwitchCase="'state'" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)">
                                <input *ngSwitchCase="'zip'" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)">-->
                                <!--<input *ngSwitchCase="'supervisor'" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)">-->
                                <!--<input *ngSwitchCase="'estimator'" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)">-->
                                <p-multiSelect *ngSwitchCase="'supervisor'" [(ngModel)]="supervisor" [options]="supervisorFilters" defaultLabel="All" [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
                                <p-multiSelect *ngSwitchCase="'estimator'" [(ngModel)]="estimator" [options]="estimatorFilters" defaultLabel="All" [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
                                <!-- <input *ngSwitchCase="'createdDatetime'" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)"> -->
                                <p-multiSelect *ngSwitchCase="'jobImage'" [(ngModel)]="fileType" [options]="filesfil" defaultLabel="All Files" [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, 'jobType', 'in')"></p-multiSelect>
                                <!-- <p-dropdown *ngSwitchCase="'jobImage'" [options]="filesfil" [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'equals')"></p-dropdown> -->
                                <!-- <input *ngSwitchCase="'estimate'" pInputText type="text" style="width:100%" (input)="dt1.filter($event.target.value, col.field, col.filterMatchMode)"> -->
                                
                                <p-multiSelect *ngSwitchCase="'estimate'" [(ngModel)]="estimate" [options]="estimateFilters" defaultLabel="Estimate" [style]="{'width':'100%'}" (onChange)="dt1.filter($event.value, col.field, 'in')"></p-multiSelect>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body"  let-rowData let-subJob >
                        <tr [pSelectableRow]="rowData">
                                <td  style="text-align:center;"><span class="{{subJob.style}}"> {{ subJob.status }} </span></td>
                                <td>{{subJob.subJobCode }}</td>
                                <td  style="text-align:center;"><a routerLink="/Content/SubJobs/SubJobsDetails/{{subJob.jobHashCode}}"><img [src]="subJob.jobImage" title="{{subJob.jobType}}"></a> </td>
                                <td>{{subJob.customerName}}</td>
                                <td>{{subJob.lossAddress}}</td>
                                <td>{{subJob.city}}</td>
                                <td>{{subJob.state}}</td>
                                <td>{{subJob.zip}}</td>
                                <td>{{subJob.supervisor}}</td>
                                <td>{{subJob.estimator}}</td>
                                <td>{{subJob.createdDatetime | date: 'MM/dd/yyyy hh:mm:ss'}}</td>
                                <td><span style="display:block;background:#ff4d4d;color:#fff;">{{subJob.estimate}}</span></td>
                                <!-- <td>{{subJob.estimate}}</td> -->
                                <td style="text-align:center">
                                    <img src="../assets/images/delete_icon.png" (click)="showDialog()" *ngIf="subJob.status !== new">
                                    <img src="../assets/images/delete_icon_dis.png" *ngIf="subJob.status == new" style="cursor:default;">
                                </td>
                        </tr>
                    </ng-template>
           
        </p-table>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_div" style="float:left">
        <p-dialog header="Delete " [(visible)]="display" [modal]="true" [responsive]="true" [width]="350">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_feild" style="float:left;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float:left;padding-left:0px;">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_text">File Number</div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_value">FN_TiffanyBuchana_372_W</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float:left;padding-left:0px;">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_text">Customer Name</div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_value">Isaac Norman</div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_feild" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_text">Reason For Deletion</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_value">
                            <textarea></textarea>
                        </div>
                  </div>
                </div>
                    <p-footer>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right" style="float:left;padding:8px 0px;">
                        <button type="button" pButton icon="fa-trash-o" (click)="display=false" label="Delete"></button>
                        <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
                     </div>
                    </p-footer>
        </p-dialog>
</div>