.del_feild{margin: 5px 0px;}
.del_text{font-size: 11px;color: #404040;padding: 0px;margin: 0px;font-weight: 600;letter-spacing: 0.7px;}
.del_value{font-weight: 500;color: #8c8c8c;font-size: 12px;letter-spacing: 0.5px;word-wrap: break-word;}
.del_value textarea{border: 1px solid #d9d9d9;color: #333333;padding: 3px 5px;box-sizing: border-box;background: #F2F2F2;width: 100%;height: 80px;outline: none;resize: vertical;border-radius: 3px;}