<div class="row">
    <div class="row">
        
       <div class="col-lg-3 col-md-pull-12 col-sm-pull-12 col-xs-pull-12">
          <dashboard-jobs> </dashboard-jobs>
          <dashboard-masternumbers></dashboard-masternumbers>
          <dashboard-financials></dashboard-financials>
          <dashboard-customers></dashboard-customers>
        </div>
       <div class="col-lg-6 col-md-push-12 col-sm-push-12 col-xs-push-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:8px 0px;background:#E6E6E6;margin:10px 0px;float:left;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center" style="float:left;margin:0px 0px;padding-left:0px;">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;background:#FFFFFF;padding:0px;border:1px solid #CCCCCC;box-sizing:border-box;height:130px;">
                            <circle-progress
                                [percent]="85"
                                [space]="-9"
                                [radius]="35"
                                [titleFontSize]="12"
                                [outerStrokeWidth]="10"
                                [innerStrokeWidth]="7"
                                [outerStrokeColor]="'#55cfbe'"
                                [innerStrokeColor]="'#ebf9f7'"
                                [showSubtitle]="false"
                                [animation]="true"
                                [animationDuration]="1000"
                              ></circle-progress>
                              <span style="display:block;margin-top:-5px;font-size:11px;">Close Ratio</span>
                         </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center" style="float:left;margin:0px 0px;padding:0px;">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;background:#FFFFFF;padding:0px;border:1px solid #CCCCCC;box-sizing:border-box;width:96%;margin:0px 2%;height:130px;">
                            <circle-progress
                                [percent]="50"
                                [space]="-9"
                                [radius]="35"
                                [titleFontSize]="12"
                                [outerStrokeWidth]="10"
                                [innerStrokeWidth]="7"
                                [outerStrokeColor]="'#ffa83d'"
                                [innerStrokeColor]="'#ffe8cc'"
                                [showSubtitle]="false"
                                [animation]="true"
                                [animationDuration]="1000"
                              ></circle-progress>
                              <span style="display:block;margin-top:-10px;font-size:11px;">Average Estimate Completion Time</span>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center" style="float:left;margin:0px 0px;padding-right:0px;">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;background:#FFFFFF;padding:0px;border:1px solid #CCCCCC;box-sizing:border-box;height:130px;">
                            <circle-progress
                                [percent]="30"
                                [space]="-9"
                                [radius]="35"
                                [titleFontSize]="12"
                                [outerStrokeWidth]="10"
                                [innerStrokeWidth]="7"
                                [outerStrokeColor]="'#a18460'"
                                [innerStrokeColor]="'#ece6df'"
                                [showSubtitle]="false"
                                [animation]="true"
                                [animationDuration]="1000"
                              ></circle-progress>
                              <span style="display:block;margin-top:-5px;font-size:11px;">Leads </span>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center" style="float:left;margin:0px 0px;padding-right:0px;">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;background:#FFFFFF;padding:0px;border:1px solid #CCCCCC;box-sizing:border-box;height:130px;">
                            <circle-progress
                                [percent]="20"
                                [space]="-9"
                                [radius]="35"
                                [titleFontSize]="12"
                                [outerStrokeWidth]="10"
                                [innerStrokeWidth]="7"
                                [outerStrokeColor]="'#63abf7'"
                                [innerStrokeColor]="'#e7f2fe'"
                                [showSubtitle]="false"
                                [animation]="true"
                                [animationDuration]="1000"
                              ></circle-progress>
                              <!-- <dashboard-chart></dashboard-chart> -->
                              <span style="display:block;margin-top:-10px;font-size:11px;">Tasks Completed<br/> on Time</span>
                         </div>
                        </div>
                    </div>
                </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;padding:0px;">
              <dashboard-tasks></dashboard-tasks>
            </div>
       </div>
       <div class="col-lg-3 col-md-pull-12 col-sm-12 col-xs-12">
         <dashboard-statuswall></dashboard-statuswall>
         <dashboard-googlejobs></dashboard-googlejobs>
         <!-- <dashboard-tpajobs></dashboard-tpajobs> -->
       </div>
 
    </div>
 </div>