<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-head padding0" style="margin-top:10px;">
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 job-headLeft" style="padding-left:0px;">
         <!--<img src="../assets/images/contact_job.png">--> Contacts
       </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 job-headRight text-right">
         <img src="../assets/images/edit_icon.png" (click)="showDialog()">
       </div>
   </div>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-fullinfo contact">
            <!--<img src="../assets/images/job_view.png" (click)="isCollapsed = !isCollapsed">-->

            <!--<div (collapsed)="collapsed($event)"
                (expanded)="expanded($event)"
                [collapse]="isCollapsed"
                class="card card-block card-header">
              <div class="well well-lg">Some content</div>
            </div>-->

            <p-scrollPanel [style]="{width: '100%', height: '200px'}">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;padding-bottom:20px;padding-left:0px;">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;" *ngFor="let contact of contacts">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;padding:0px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;padding-top:5px;padding-bottom:5px;border-bottom:1px solid #354964;box-sizing:border-box;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-row" style="margin:2px 0px;">
                              <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-text">Name</div>-->
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-value padding0">
                                {{contact.firstName}}&nbsp;{{contact.lastName}} <span style="float:right;">{{contact.phoneNo}}</span>
                              </div>
                            </div>
                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-row" style="padding:0px;margin:2px 0px;">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-value padding0"></div>
                            </div> -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-row" style="padding:0px;margin:2px 0px;">
                                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-text">Designation</div>-->
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-value padding0">{{contact.contactType}}&nbsp;<span (click)="showDialog1()" style="float:right;text-decoration:underline;cursor:pointer;">More...</span></div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
             </p-scrollPanel>
   </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
    <p-dialog header="Edit Contact" [(visible)]="display" modal="modal" width="350" [responsive]="true">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
              <basiccontact-form></basiccontact-form>
          </div>
        <p-footer>
            <button type="button"  (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-arrow-up"></i>&nbsp;Update</button>
                <button type="button" (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
        </p-footer>
    </p-dialog>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
    <p-dialog header="More Info" [(visible)]="display1" modal="modal" width="350" [responsive]="true">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Company Name</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">State Farm</div>
             </div>
        </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">First Name</div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">
                        <span *ngIf="contacts !==undefined && contacts.firstName !== undefined">{{contacts.firstName}}</span></div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Last Name</div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">
                        <span *ngIf="contacts !==undefined && contacts.lastName !== undefined">{{contacts.lastName}}</span></div>
               </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Email</div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">
                        <span *ngIf="contacts !==undefined && contacts.email !== undefined">{{contacts.email}}</span></div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Phone Number</div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">
                        <span *ngIf="contacts !==undefined && contacts.phoneNo !== undefined">{{contacts.phoneNo}}</span></div>
               </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-text">Address</div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details-value">
                        <span *ngIf="contacts !==undefined && contacts.address !== undefined">{{contacts.address}}</span></div>
          </div>
        <!-- <p-footer>
            <button type="button" pButton icon="fa-check" (click)="display=false" label="Yes"></button>
            <button type="button" pButton icon="fa-close" (click)="display=false" label="Close"></button>
        </p-footer> -->
    </p-dialog>
</div>