<div class="row sale-file">
        <p-table [columns]="cols" [value]="saleActs" [paginator]="true" [rows]="10" >
            <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" >
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-saleAct >
                        <tr>
                                <td><span class="pending">{{saleAct.status}}</span></td>
                                <td>{{saleAct.activityName }}</td>
                                <td>{{saleAct.type}}</td>
                                <td>{{saleAct.schdttm}}</td>
                                <!-- <td>{{saleAct.salesrepren}}</td> -->
                                <td>{{saleAct.description }}</td>
                                <td><img [src]="saleAct.updtimg" (click)="showDialog()"></td>
                        </tr>
                </ng-template>
           
        </p-table>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
        <p-dialog header="Edit Activity" [(visible)]="display" modal="modal" [responsive]="true" [width]="550">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Activity Name</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input type="text" style="width:100%"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Type</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <select>
                                    <option>Select</option>
                                    <option>Call</option>
                                    <option>T-Con</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Scheduled Date & Time</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input type="text" style="width:100%"/>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Status</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <select>
                                    <option>Select</option>
                                    <option>Pending</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Description</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <textarea style="height:40px;"></textarea>
                            </div>
                        </div>
                    </div>
            </div>
            <p-footer [style]="{'width':'100%'}">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="width:100%;float:left;text-align:right;">
                    <button type="button"  (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-arrow-up"></i>&nbsp;Update</button>
                    <button type="button" (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                </div>
            </p-footer>
        </p-dialog>
</div>