<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subjobs-info">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subjobs-tabs padding0">
           <ul>
             <li>  <a [routerLink]="['/Content/SubJobs', 'my']" routerLinkActive="router-link-active" > 
                       <img src="../assets/images/my_m.png">&nbsp;My Sub Jobs </a> 
              </li>
             <li> 
                <a [routerLink]="['/Content/SubJobs', 'all']" routerLinkActive="router-link-active" ><img src="../assets/images/all_m.png"> &nbsp;All Sub Jobs</a>
             </li>
             <li> 
                <a [routerLink]="['/Content/SubJobs', 'Attention']" routerLinkActive="router-link-active" ><img src="../assets/images/attention_icon.png"> &nbsp; Attention Required Sub Jobs</a>
             </li>
            
           </ul>
       </div>
       <!--<router-outlet></router-outlet>-->
       <subjob-grid></subjob-grid>
  </div>