
.email-text{float:left;font-size: 14px;margin:2px 0px;color: #666666;letter-spacing: 0.5px;padding-left: 7px;}
.email-value{float:left;margin-bottom: 3px;padding-left: 8px;}
.email-value input{width:99%;padding: 0px 5px;font-size:13px;margin: 0px;outline:none;height:25px;border: 1px solid #CCC;box-sizing: border-box;}
.email-body{width: 100%;padding: 0px;margin: 0px 0% 5px;float: left;overflow: hidden;}

.sign-div{width: 98%;float: left;padding: 0px 20px;margin: 20px 0px 0px 0px;}
.sign-thanks{width: 100%; font-size: 16px;color: #666666;float: left;font-weight: 500;letter-spacing: 0.3px;}
.sign-name{width: 100%;font-size: 20px;color: #333333;float: left;font-weight: 600;letter-spacing: 0.3px;}
.discalim{width:98%;float: left;border-top:1px solid #333333;box-sizing: border-box;padding: 5px;font-size: 12px;text-align: justify;color: #666666;margin:8px 1% 10px 1%;}
.selct_note{color: #666666;font-size: 14px;}
.selct_note span{display: inline-block;vertical-align: top;}
.selct_note span input[type="radio"]{float: left;width: 14px;}