<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
          <div class="col-lg-2 col-md-2 col-sm-push-12 col-xs-push-12 text-right new-job">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left" style="float:left;margin-bottom:20px;">
                        <span style="color:#0033cc;font-size:25px;">File Details</span>
                 </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-status text-center" style="padding:0px;">
                        <img [src]="jobImage" *ngIf="fileDetails !==undefined && fileDetails.jobType !== undefined" title="{{fileDetails.jobType}}">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-status text-center" style="padding:0px;float:left;margin:0px 0% 0px 0%;">
                    <span class="{{this.changeStyle}}" *ngIf="fileDetails !==undefined && fileDetails.status !== undefined">{{fileDetails.status}}</span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-add" style="padding:0px 0px 0px 0px;width:100%;" *ngIf="fileDetails !==undefined && fileDetails.mastNumCode !== undefined">
                    <a routerLink="/Content/MasterNumber/MasterNumberDetails/{{fileDetails.mastNumHash}}" style="color:#FFF;" title="Back To {{fileDetails.mastNumCode}} Details">
                        <span class="job-icon" style="width:23%;float:left;padding: 0px 0px 3px 0px;text-align:center;"><img src="../assets/images/back-arrow.png"></span>
                       <span class="job-text" style="width:73%;float:left;text-overflow:ellipsis;display:block;overflow:hidden;text-align:center;">{{fileDetails.mastNumCode}}</span>
                   </a>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right all-pics" style="cursor:pointer;" (click)="showPictures()">
                    <!-- <a href="#"> -->
                        <span class="pic-icon"><img src="../assets/images/picture.png"></span>
                        <span>Pictures</span>
                    <!-- </a> -->
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pdf-convt padding0">
                    <span class="pdf_img"><img src="../assets/images/pdf_icon.png"></span>
                    <span class="pdf_text">Download PDF</span>
                </div>
                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pdf-convt"><img src="../assets/images/pdf-icon.png" title="PDF Convert"></div>-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-mail" (click)="showDialog3()">
                    <a style="color:#FFF;text-align:center;display:block;cursor:pointer;"><span class="job-mail-icon"><img src="../assets/images/at.png"></span>
                    <span class="job-mail-text">Send Email</span></a>
                </div>
         </div>
          <div class="col-lg-10 col-md-10 col-sm-pull-12 col-xs-pull-12" style="float:left">
              <!-- <subjobs-data [insurances]="insurances"></subjobs-data> -->
              <subjobs-data [fileDetails]="fileDetails" [insurances]="insurances" [description]="description" (update)="updateFileData($event)" (updateDesc)="updateDescription($event)"></subjobs-data>
          </div>
        </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 jobs-details">
          <div class="row">
                <!-- <div class="subjob-div">
                   <common-notes></common-notes>
                </div> -->
             
              
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
                    <subjob-note [note]="notes" (addNotes)="saveNotes($event);"></subjob-note>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-diff1 cont-roles-mile" style="float:left;">
                            <span style="display:block;cursor:pointer;text-align:right;" *ngIf="tabIndex==0"><img src="../assets/images/edit_icon.png" (click)="showDialog()"></span>
                            <span style="display:block;cursor:pointer;text-align:right;" *ngIf="tabIndex==1"><img src="../assets/images/edit_icon.png" (click)="showDialog1()"></span>
                            <p-tabView [activeIndex]="tabIndex" (onChange)="changeTab($event);">
                                <p-tabPanel header="Contacts" [selected]="true" styleClass="sub-contact">
                                    <p-scrollPanel [style]="{width: '100%', height: '200px', background: '#FFF'}">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;padding-bottom:20px;">
                                                <common-contacts1 [contacts]="contacts"></common-contacts1>
                                        </div>
                                    </p-scrollPanel>
                                </p-tabPanel>
                                <p-tabPanel header="Roles">
                                    <p-scrollPanel [style]="{width: '100%', height: '200px', background: '#FFF'}">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                                                <common-roles [roles]="roles"></common-roles>
                                        </div>
                                    </p-scrollPanel>
                                </p-tabPanel>
                                <p-tabPanel header="Milestone">
                                    <p-scrollPanel [style]="{width: '100%', height: '200px', background: '#FFF'}">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;padding:5px 0px;">
                                                <common-milestone></common-milestone>
                                        </div>
                                    </p-scrollPanel>
                                </p-tabPanel>
                            </p-tabView>
                        </div>
              </div>
              <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
                         <common-contacts1 [mastNumHash]="parameterID" [contactsFor]="MasterNumber"></common-contacts1>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;margin-top:10px;">
                        <common-roles></common-roles>
                    </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;margin-bottom:10px;">
                          <common-milestone></common-milestone>
                        </div>
                   
                    
                </div> -->
          </div>
         </div>
         
         <!--  -->

         
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding0" style="float:left">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left">
               <!-- <subjob-pictures></subjob-pictures> -->
               <subjob-tasks></subjob-tasks>
             </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left">
                <subjob-documents [documents]="documents" (addDocument)="saveDocument($event);" (deletedDocuments)="deleteDocuments($event);"></subjob-documents>
              </div>
           </div>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left">
                <subjob-financial></subjob-financial>
            </div>
         </div>
     
      </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
            <p-dialog header="Contact" [(visible)]="display" modal="modal" width="350" [responsive]="true">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                      <basiccontact-form [contacts]="contacts" [refSource]="refSource" (updateContact)="updateContacts($event)"></basiccontact-form>
                      <button type="button" (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;float:right;margin-top:-38px;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                  </div>
                <!-- <p-footer>
                    <button type="button"  (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Create</button>
                        <button type="button" (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                </p-footer> -->
            </p-dialog>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
            <p-dialog header="Role" [(visible)]="display1" modal="modal" width="350" [responsive]="true">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Supervisor</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-autoComplete 
                                [(ngModel)]="supervisor" 
                                [suggestions]="filteredSupervisors" 
                                (completeMethod)="filterSupervisor($event)" 
                                field="fullName"
                                [size]="30"
                                [forceSelection]="true"
                                [dropdown]="true"
                                placeholder="Supervisor" 
                                name="supervisor">
                                </p-autoComplete>
                                <span (click)="showDialog2('Supervisor')"><img src="./assets/images/add.png"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Estimator</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-autoComplete 
                                [(ngModel)]="estimator" 
                                [suggestions]="filteredEstimators" 
                                (completeMethod)="filterEstimator($event)" 
                                field="fullName"
                                [size]="30"
                                [forceSelection]="true"
                                [dropdown]="true"
                                placeholder="Estimator" 
                                name="estimator">
                                </p-autoComplete>
                                <span (click)="showDialog2('Estimator')"><img src="./assets/images/add.png"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Co-Ordinator</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-autoComplete 
                                [(ngModel)]="coordinator" 
                                [suggestions]="filteredCoordinators" 
                                (completeMethod)="filterCoordinator($event)" 
                                field="fullName"
                                [size]="30"
                                [forceSelection]="true"
                                [dropdown]="true"
                                placeholder="Co-Ordinator" 
                                name="coordinator">
                                </p-autoComplete>
                                <span (click)="showDialog2('Coordinator')"><img src="./assets/images/add.png"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Finance</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-autoComplete 
                                [(ngModel)]="finance" 
                                [suggestions]="filteredFinance" 
                                (completeMethod)="filterFinance($event)" 
                                field="fullName"
                                [size]="30"
                                [forceSelection]="true"
                                [dropdown]="true"
                                placeholder="Finance" 
                                name="finance">
                                </p-autoComplete>
                                <span (click)="showDialog2('Finance')"><img src="./assets/images/add.png"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Sales Representative</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                        <p-autoComplete 
                                            [(ngModel)]="salesRepresentativeName"
                                            [suggestions]="filteredSalesName"
                                            (completeMethod)="filterSaleName($event)"
                                            field="fullName" 
                                            [size]="30"
                                            [forceSelection]="true"
                                            [dropdown]="true"
                                            name="salesRepresentativeName"
                                            placeholder="Sales Representative">
                                        </p-autoComplete>
                                        <span (click)="showDialog2('Sales Representative')"><img src="./assets/images/add.png"></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Administrator</div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                            <p-autoComplete 
                                            [(ngModel)]="Administrator" 
                                            [suggestions]="filteredAdministrator" 
                                            (completeMethod)="filterAdministrator($event)" 
                                            field="fullName"
                                            [size]="30"
                                            [forceSelection]="true"
                                            [dropdown]="true"
                                            placeholder="Administrator" 
                                            name="Administrator">
                                            </p-autoComplete>
                                            <span (click)="showDialog2('Administrator')"><img src="./assets/images/add.png"></span>
                                    </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  with-add part-info padding0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Role</div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                               <p-autoComplete 
                                            [(ngModel)]="role" 
                                            [suggestions]="filteredBlankRole" 
                                            (completeMethod)="filterBlankRole($event)" 
                                            field="fullName"
                                            [size]="30"
                                            [forceSelection]="true"
                                            [dropdown]="true"
                                            placeholder="Role" 
                                            name="role">
                                            </p-autoComplete>
                                                <span (click)="showDialog2('Role')"><img src="./assets/images/add.png"></span>
                                        </div>
                            </div>
                        <div *ngIf="isRolesEmpty" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;color:#ff4d4d;font-size:14px;font-weight:500;letter-spacing:0.5px;text-align:center;">
                           Please select the Role...
                       </div>
                <p-footer>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;margin:8px 0px;">
                    <button type="button"  (click)="updateRoles();" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Update</button>
                    <button type="button" (click)="display1=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                 </div>
                </p-footer>
            </p-dialog>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
            <p-dialog header="Add New Role" [(visible)]="display2" modal="modal" [responsive]="true" [width]="350">
                 <form #newContact="ngForm" (submit)="saveContactData(newContact);" method="POST">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">First Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" [ngModel]="contactDetails?.firstName" name="contactDetails.firstName" class="form-control"
                                        (ngModelChange)="contactDetails.firstName = $event" required #conFirstName="ngModel"/>
                            <div [hidden]="conFirstName.valid || (conFirstName.pristine && !newContact.submitted)" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                    First Name is required.	
                            </div> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Last Name</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input type="text" [ngModel]="contactDetails?.lastName" name="contactDetails.lastName" 
                                        (ngModelChange)="contactDetails.lastName = $event" required #conLastName="ngModel"/>
                                <div [hidden]="conLastName.valid || (conLastName.pristine && !newContact.submitted)" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                        Last Name is required.	
                                </div>
                        </div>
                </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Email</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" [ngModel]="contactDetails?.email" name="contactDetails.email"
                                (ngModelChange)="contactDetails.email = $event" [pattern]="emailPattern"
                                    (ngModelChange)="email=$event"   
                                    #contactEmail="ngModel"> 
                            <div *ngIf="contactEmail.errors"> 
                                <div *ngIf="contactEmail.errors.pattern" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.5px;"> 
                                    Email is invalid
                                </div>	
                            </div> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Phone Number</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-inputMask mask="(999) 999-9999" type="text" [ngModel]="contactDetails?.phoneNo" name="contactDetails.phoneNo"
                                (ngModelChange)="contactDetails.phoneNo = $event" placeholder="(999) 999-9999"></p-inputMask>
                        </div>
                </div>
        </div>
        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Role</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <select>
                            <option>Select</option>
                            <option>Supervisor</option>
                            <option>Estimator</option>
                            <option>Co-Ordinator</option>
                            <option>Finance</option>
                        </select>
                    </div>
                </div>
        </div> -->
        <p-footer>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;text-align:right;margin:8px 0px;">
                <button type="submit"  style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Create</button>
                <button type="button" (click)="display2=false;newContact.submitted=false;" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
            </div>
        </p-footer>
        </form>
            </p-dialog>
        </div>

        <div class="content-section implementation">
            <p-growl [(value)]="msgs"></p-growl>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
            <p-dialog header="Pictures" [(visible)]="displayPics" modal="modal" width="auto" [responsive]="true">
                    <pictures *ngIf="pictures!=undefined" [pictures]="pictures"></pictures>
            </p-dialog>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 email-popup" style="float:left">
            <p-dialog header="Send Email" [(visible)]="display3" [modal]="true" [responsive]="true" [width]="850">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">File Details</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 selct_note" style="float:left">
                                        <span><input type="radio" name="notes"/></span>&nbsp;<span>With Notes</span>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 selct_note" style="float:left">
                                            <span><input type="radio" name="notes"/></span>&nbsp;<span>With Out Notes</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">To</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value">
                                    <input type="text"> 
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">Subject</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value">
                                    <input type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">Body</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-info padding0" style="float:left;max-height:320px;overflow-x:hidden;overflow-y:scroll;">
                            <!-- <p-scrollPanel [style]="{width: '100%', height: '320px'}"> -->
                                <subjobsemail-details></subjobsemail-details>
                                    <div class="email-body">
                                        <div class="sign-div">
                                            <div class="sign-thanks">Thanks & Regards,</div>
                                            <div class="sign-name">Xcelerate Team.</div>
                                        </div>
                                        <div class="discalim">
                                            “This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.”
                                        </div>
                                    </div>
                             <!-- </p-scrollPanel> -->
                        </div>
                    </div>
                    <p-footer style="float:left;width:100%;padding:10px 0px;">
                        <button type="button" pButton icon="fa-check" (click)="display3=false" label="Send"></button>
                        <button type="button" pButton icon="fa-close" (click)="display3=false" label="Cancel"></button>
                    </p-footer>
            </p-dialog>
        </div>