.bar-div{margin: 0px 0px;float: left;}
.bar-text{color: #404040;font-size: 12px;float: left;font-weight: 500;padding-left: 10px;letter-spacing: 0.5px;}
.bar-value{color: #404040;font-size: 12px;float: left;font-weight: 500;padding-left: 0px;}
.bar-status{width: 90%;float: left;margin: 0px 5%;position: relative;padding: 3px 0px;}
.bar-status hr.back{width: 100%; height: 3px;margin: 0px;padding: 0px;background: #bababa;border-radius: 50px;position: absolute;top: 0px;float: left}
.bar-status hr.front{height: 3px;margin: 0px;padding: 0px;border-radius: 50px;position: absolute;top: 0px;/*width: 15px;*/}
