<html>
  <head>
     <style>
        html,body{padding: 0px;margin: 0px;font-family: Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;} 
         .em_pdf{width:98%;padding:0px;margin:10px 1% 10px 1%;float:left;overflow:hidden;-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}
         .em_title{width:100%;padding:5px 10px;margin:0px;float:left;font-size:16px;letter-spacing:0.5px;background:#595959;color:#FFF;box-shadow: 0 5px 5px -5px #000000;}
         .em_pdf_info{width: 100%;float: left;padding:10px 0px;margin: 0px;overflow: hidden;}
         .em_pdf_left{width: 20%;float: left;padding: 0px;margin: 0px;overflow: hidden;}
         .file_type{width: 110px;margin: 15px 18%;float: left;padding: 0px;overflow: hidden;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;text-align: center;-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;height: 110px;}
         .file_type span{display: block;margin-top:40%;word-wrap: break-word;font-size: 14px;}
         .filestatus{width: 70%;margin: 5px 9%;padding: 5px 10px;float: left;font-size: 14px; text-align: center;background: #CCC;}
         .masterno_file{width: 70%;margin: 5px 9%;padding: 5px 10px;float: left;font-size: 14px; text-align: center;background: #CCC;}
         .em_pdf_right{width: 80%;float: left;padding: 0px;margin: 0px;overflow: hidden;}
         .em_row{width: 100%;padding: 0px;margin:5px 0px;float: left;overflow: hidden;}
         .em_row_div{width: 25%;padding: 0px;margin:3px 0px;float: left;overflow: hidden;word-wrap: break-word;}
         .em_row_div .em_text{width: 100%;padding: 0px;margin: 0px;float: left;overflow: hidden;font-size: 12px;color: #737373;letter-spacing: 0.5px;}
         .em_value{width: 100%;padding: 0px;margin: 0px;float: left;color: #666666; overflow: hidden;font-size: 13px;font-weight: 500;}
         .desc_table{width: 100%;padding:0px;margin: 0px;float: left;overflow: hidden;}
         .desc_table table{width: 99%;padding: 0px;margin: 0px 1% 0px 0px;float: left;border-collapse: collapse;border: 1px solid #CCC;box-sizing: border-box;}
         .desc_table table thead tr th{background: #CCC;padding: 5px 10px;color: #595959;font-size: 13px;font-weight: 500;}
         .desc_table table thead tr th:nth-child(1){width: 10%;}
         .desc_table table thead tr th:nth-child(2){width: 90%;text-align: left;}
         .desc_table table tbody tr td{padding: 3px 5px;border: 1px solid #CCC;box-sizing: border-box;font-size: 12px;letter-spacing: 0.5px;color: #595959;}
         .desc_table table tbody tr td:nth-child(1){text-align: center;}
         .desc_table table tbody tr td:nth-child(2){text-align: left;}
         .contact_table{width: 100%;padding: 0px;margin: 0px;float: left;overflow: hidden;}
         .contact_table table{width: 99%;padding: 0px;margin: 0px 1% 0px 0px;float: left;border-collapse: collapse;border: 1px solid #CCC;box-sizing: border-box;}
         .contact_table table thead tr th{background: #CCC;padding: 5px 10px;color: #595959;font-size: 13px;font-weight: 500;}
         .contact_table table tbody tr td{padding: 3px 5px;border: 1px solid #CCC;box-sizing: border-box;font-size: 12px;letter-spacing: 0.5px;color: #595959;}
         .note_table{width: 100%;padding: 0px;margin: 0px;float: left;overflow: hidden;}
         .note_table table{width: 99%;padding: 0px;margin: 0px 1% 0px 0px;float: left;border-collapse: collapse;border: 1px solid #CCC;box-sizing: border-box;}
         .note_table table thead tr th{background: #CCC;padding: 5px 10px;color: #595959;font-size: 13px;font-weight: 500;}
         .note_table table thead tr th:nth-child(1){width: 12%;}
         .note_table table thead tr th:nth-child(2){width: 15%;text-align: left;}
         .note_table table thead tr th:nth-child(3){width: 73%;text-align: left;}
         .note_table table tbody tr td{padding: 3px 5px;border: 1px solid #CCC;box-sizing: border-box;font-size: 12px;letter-spacing: 0.5px;color: #595959;}
     </style>  
  </head>
  <body>
     <div class="em_pdf" style="">
         <div class="em_title">File Details</div>
         <div class="em_pdf_info">
            <div class="em_pdf_left">
                <div class="file_type">
                   <span *ngIf="fileDetails !== undefined && fileDetails.jobType !== undefined">{{fileDetails.jobType}}</span>
                </div>
                <div class="filestatus">
                    <span *ngIf="fileDetails !== undefined && fileDetails.status !== undefined">{{fileDetails.status}}</span>
                </div>
                <div class="masterno_file">
                   <span *ngIf="fileDetails !== undefined && fileDetails.mastNumCode !== undefined">{{fileDetails.mastNumCode}}</span>
                </div>
            </div>
            <div class="em_pdf_right">
                <div class="em_row">
                  <div class="em_row_div">
                    <div class="em_text">File Name</div>
                    <div class="em_value" *ngIf="fileDetails !== undefined && fileDetails.jobCode !== undefined">{{fileDetails.jobCode}}</div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Owner Name</div>
                    <div class="em_value" *ngIf="fileDetails !== undefined && fileDetails.customerName !== undefined">{{fileDetails.customerName}}</div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Email</div>
                    <div class="em_value" *ngIf="fileDetails !== undefined && fileDetails.email !== undefined">{{fileDetails.email}}</div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Phone No.</div>
                    <div class="em_value" *ngIf="fileDetails !== undefined && fileDetails.phoneNo !== undefined">{{fileDetails.phoneNo}}</div>
                  </div>
                </div>
                <div class="em_row">
                  <div class="em_row_div">
                    <div class="em_text">Cell No.</div>
                    <div class="em_value" *ngIf="fileDetails !== undefined && fileDetails.mobile !== undefined">{{fileDetails.mobile}}</div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Work No.</div>
                    <div class="em_value" *ngIf="fileDetails !== undefined && fileDetails.workPhone !== undefined">{{fileDetails.workPhone}}</div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Tenant Name</div>
                    <div class="em_value" *ngIf="fileDetails !== undefined && fileDetails.tenantName !== undefined">{{fileDetails.tenantName}}</div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Tenant No.</div>
                    <div class="em_value" *ngIf="fileDetails !== undefined && fileDetails.tenantNumber !== undefined">{{fileDetails.tenantNumber}}</div>
                  </div>
                </div>
                <div class="em_row">
                  <div class="em_row_div">
                    <div class="em_text">Loss Address</div>
                    <div class="em_value">
                      <span *ngIf="fileDetails !==undefined && fileDetails.lossAddress !== undefined && fileDetails.lossAddress !== null"> {{fileDetails.lossAddress}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Billing Address</div>
                    <div class="em_value">
                      <span *ngIf="fileDetails !==undefined && fileDetails.lossAddress !== undefined && fileDetails.billingAddress !== null"> {{fileDetails.billingAddress}}</span>
                    </div>
                  </div>
                </div>
                <div class="em_row">
                  <div class="em_row_div">
                    <div class="em_text">Cause Of Loss</div>
                    <div class="em_value">
                      <span *ngIf="fileDetails !==undefined && fileDetails.causeOfLoss !== undefined && fileDetails.causeOfLoss !== null"> {{fileDetails.causeOfLoss}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Program Type</div>
                    <div class="em_value">
                      <span *ngIf="fileDetails !==undefined && fileDetails.programType !== undefined && fileDetails.programType !== null"> {{fileDetails.programType}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Year Built</div>
                    <div class="em_value">
                      <span *ngIf="fileDetails !==undefined && fileDetails.yearBuilt !== undefined && fileDetails.yearBuilt !== null"> {{fileDetails.yearBuilt}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Property Type</div>
                    <div class="em_value">
                      <span *ngIf="fileDetails !==undefined && fileDetails.propertyType !== undefined && fileDetails.propertyType !== null"> {{fileDetails.propertyType}}</span>
                    </div>
                  </div>
                </div>
            </div>
         </div>
         <div class="em_title">Insurance Details</div>
         <div class="em_pdf_info" style="width:99%;padding-left:10px;">
            <div class="em_row">
              <div class="em_row_div">
                <div class="em_text">Self Pay</div>
                <div class="em_value">
                    <span>{{selfPay}}</span>
                </div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Claim No.</div>
                <div class="em_value">
                  <span *ngIf="insurances !==null && insurances !==undefined"> {{insurances.claimNumber}}</span>
                </div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Policy No.</div>
                <div class="em_value">
                  <span *ngIf="insurances !==null && insurances !==undefined"> {{insurances.policyNumber}}</span>
                </div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Insurance Company</div>
                <div class="em_value">
                  <span *ngIf="insurances !==null && insurances !==undefined"> {{insurances.insuranceCompanyName}}</span>
                </div>
              </div>
            </div>
            <div class="em_row">
               <div class="em_row_div">
                <div class="em_text">Company Address</div>
                <div class="em_value">
                  <span *ngIf="insurances !==null && insurances !==undefined">{{insurances.address}}</span>
                </div>
              </div>
            </div>
         </div>
         <div class="em_title">Description</div>
         <div class="em_pdf_info" style="width:99%;padding-left:10px;">
              <div class="desc_table">
                <table>
                  <thead>
                     <tr>
                       <th>Date</th>
                       <th>Description</th>
                     </tr>  
                  </thead>  
                  <tbody>
                     <tr *ngFor="let desc of description">
                       <td>{{desc.updatedDatetime | date: 'MM/dd/yyyy'}}</td> 
                       <td>{{desc.description}}</td>
                     </tr>
                  </tbody>
                </table>
              </div>
         </div>
         <div class="em_title">Contacts</div>
         <div class="em_pdf_info" style="width:99%;padding-left:10px;">
            <div class="contact_table">
               <table>
                 <thead>
                   <tr>
                     <th>Company Name</th>
                     <th>First Name</th>
                     <th>Last Name</th>
                     <th>Email</th>
                     <th>Phone Number</th>
                     <th>Address</th>  
                   </tr>  
                 </thead>
                 <tbody>
                     <tr *ngFor="let contact of contacts">
                       <td>{{contact.companyName}}</td>
                       <td>{{contact.firstName}}</td>
                        <td>{{contact.lastName}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phoneNo}}</td>
                        <td>{{contact.address}}</td>
                        <td>{{contact.contactType}}</td>
                    </tr>   
                 </tbody>
               </table>
            </div>
         </div>
         <div class="em_title">Roles</div>
         <div class="em_pdf_info" style="width:99%;padding-left:10px;">
            <div class="contact_table">
               <table>
                 <thead>
                   <tr>
                     <th>Name</th>
                     <th>Role</th>
                     <th>Email</th>
                     <th>Phone Number</th>
                   </tr>  
                 </thead>
                 <tbody>
                    <tr *ngFor="let role of roles">
                       <td>{{role.name}}</td>
                       <td>{{role.role}}</td>
                        <td>{{role.email}}</td>
                        <td>{{role.phoneNo}}</td>
                    </tr>   
                 </tbody>
               </table>
            </div>
         </div>
         <div class="em_title">Milestones</div>
         <div class="em_pdf_info" style="width:99%;padding-left:10px;">
            <div class="em_row">
              <div class="em_row_div">
                <div class="em_text">Date of Loss</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Date Received</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Date Contacted</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Arrived onsite</div>
                <div class="em_value"></div>
              </div>
            </div>
             <div class="em_row">
              <div class="em_row_div">
                <div class="em_text">Work Authorization</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Estimate Uploaded</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Estimate Approved</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Target Start Date</div>
                <div class="em_value"></div>
              </div>
            </div>
             <div class="em_row">
              <div class="em_row_div">
                <div class="em_text">Start Date</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Target Completion Date</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">COC (Actual Completion Date)</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Date Invoiced</div>
                <div class="em_value"></div>
              </div>
            </div>
             <div class="em_row">
              <div class="em_row_div">
                <div class="em_text">Date Paid</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Closed Date</div>
                <div class="em_value"></div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Assigned to Production or Into Production</div>
                <div class="em_value"></div>
              </div>
            </div>
         </div>
         <div class="em_title">Notes</div>
         <div class="em_pdf_info" style="width:99%;padding-left:10px;">
            <div class="note_table">
               <table>
                 <thead>
                   <tr>
                     <th>Date</th>
                     <th>Note By</th>
                     <th>Notes Description</th>
                   </tr>  
                 </thead>
                 <tbody>
                    <tr *ngFor="let note of notes">
                       <td>{{note.datetime | date: 'MM/dd/yyyy'}}</td>
                       <td>{{note.noteby}}</td>
                        <td>{{note.note}}</td>
                    </tr>    
                 </tbody>
               </table>
            </div>
         </div>
     </div>
  </body>
</html>