<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 master-info">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 master-tabs padding0">
         <ul>
           <li>  <a [routerLink]="['/Content/MasterNumber', 'my']" routerLinkActive="router-link-active" > 
                     <img src="../assets/images/my_m.png">&nbsp;My Master Numbers </a> 
            </li>
           <li> 
              <a [routerLink]="['/Content/MasterNumber', 'all']" routerLinkActive="router-link-active" ><img src="../assets/images/all_m.png"> &nbsp;All Master Numbers </a>
           </li>
         </ul>
     </div>

     <!-- <router-outlet></router-outlet> -->
    <masternumber-grid></masternumber-grid> 
</div>


