.email-text{float:left;font-size: 14px;margin:2px 0px;color: #666666;letter-spacing: 0.5px;padding-left: 7px;}
.email-value{float:left;margin-bottom: 3px;padding-left: 8px;}
.email-value input{width:99%;padding: 0px 5px;font-size:13px;margin: 0px;outline:none;height:25px;border: 1px solid #CCC;box-sizing: border-box;}
.email-body{width: 100%;padding: 0px;margin: 0px 0% 5px;float: left;overflow: hidden;}

.sign-div{width: 98%;float: left;padding: 0px 20px;margin: 0px 0px 0px 0px;}
.sign-thanks{width: 100%; font-size: 16px;color: #666666;float: left;font-weight: 500;letter-spacing: 0.3px;}
.sign-name{width: 100%;font-size: 20px;color: #333333;float: left;font-weight: 600;letter-spacing: 0.3px;}
.discalim{width:98%;float: left;border-top:1px solid #333333;box-sizing: border-box;padding: 5px;font-size: 12px;text-align: justify;color: #666666;margin:8px 1% 10px 1%;}
.selct_note{color: #666666;font-size: 14px;}
.selct_note span{display: inline-block;vertical-align: top;}
.selct_note span input[type="radio"]{float: left;width: 14px;}
.doc-mail{float: right;background: #e35d14;cursor: pointer;-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}
.doc-mail span{display: inline-block;}
.doc-mail span.doc_m_icon{background: #a4430e;padding: 0px 10px 4px 10px;}
.doc-mail span.doc_m_text{padding-right:5px;text-transform: capitalize !important;font-weight: 500;}
.msg-div textarea{width: 98%;height:80px;letter-spacing:0.5px;padding: 0px 5px;margin: 5px 1%;font-size:14px;outline:none;border: 1px solid #d9d9d9;color: #333333;background: #F2F2F2;}