<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 doc-div padding0">
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 doc-name" style="float:left;">Documents
                    <div class="doc-mail" (click)="showDialog2()">
                        <span class="doc_m_icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>&nbsp;
                        <span class="doc_m_text">Send Mail</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 doc-info">
                    <p-scrollPanel [style]="{width: '100%', height: '235px', background: '#FFF'}">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right" style="margin-top:10px;margin-bottom:-2px;width:95%;">
                                <span style="cursor:pointer;" (click)="showDialog(newDocument)"><img src="../assets/images/add.png"></span>
                        </div>
                        <p-table [value]="docs" >
                            <ng-template pTemplate="header" >
                                <tr>
                                    <th style="text-align:center"><input type="checkbox" [ngModel]="checkAll" (change)="selectAll($event)"/></th>
                                    <th>Name</th>
                                    <th>Types</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-document >
                                    <tr>
                                        <td><input type="checkbox" value="{{document.id}}" [checked]="document.selected" (change)="onCheckboxChange(document,$event)" /></td>
                                        <td>{{document.name}}</td>
                                        <td>{{document.type}}</td>
                                        <td style="text-align:center;"><span style="cursor:pointer;" (click)="downloadDocument(document)"><img src="../assets/images/file-download.png" title="Download Document" ></span></td>
                                    </tr>
                            </ng-template>
                        </p-table>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center doc-btn" style="padding:8px 0px;float:left;margin-bottom:15px;">
                                    <!-- <button class="up" (click)="showDialog()">
                                            <img src="../assets/images/add.png" style="width:30px;"><span>Add New</span>
                                    </button> -->
                            <!-- <button class="up"><img src="../assets/images/upload.png"><span>Upload</span></button> -->
                            <!-- <button class="del" *ngIf="documents!=null && documents!=undefined" (click)="deleteDocuments()"><img src="../assets/images/delete.png"><span>Delete</span></button> -->
                            <button class="del" *ngIf="docs!=null && docs!=undefined && docs.length>0" (click)="deleteDocuments()"><img src="../assets/images/delete.png"><span>Delete</span></button>
                        </div>
                        <div [hidden]="!showMessage" style="color:rgb(202, 10, 10);float:left;font-weight:600;letter-spacing:0.7px;width:70%;margin:5px 15% 20px 15%;font-size:12px;text-align:center;text-transform:capitalize;">
                            please select the documents you want to delete	
                        </div>
                    </p-scrollPanel>
                </div>
        </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
        <p-dialog header="Document" [(visible)]="display" modal="modal" width="450" [responsive]="true">
            <form #newDocument="ngForm" enctype="multipart/form-data" (submit)="saveDocument(newDocument);" method="POST">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Document Name</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                               <input type="text" [ngModel]="document?.name" type="text" maxlength="250"
                                                        (ngModelChange)="document.name = $event" name="document.name" #docName="ngModel" required/>
                                <div [hidden]="docName.valid || (docName.pristine && !newDocument.submitted)" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                        Document name is required
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Document Type</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <select [ngModel]="document?.category" type="text" 
                                                        (ngModelChange)="document.category = $event" name="document.category" #docCategory="ngModel" required>
                                    <option value="">Select</option>
                                    <option value="Agreement">Agreement</option>
                                    <option value="Working Estimate">Working Estimate</option>
                                </select>
                                <div [hidden]="docCategory.valid || (docCategory.pristine && !newDocument.submitted)" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                       Category is required
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Document Upload</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="file" style="width:95%;outline:none;" #file accept=".xlsx, .xls, .pdf, .doc" (change)="onChange(file.files)" name="document.file" required/>
                            <div [hidden]="fileMessage || (!newDocument.submitted)" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                Please select document to upload                               
                            </div>
                            </div>
                        </div>
                </div>
                            
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Comments</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                               <textarea style="width:100%;height:80px;" [ngModel]="document?.comments" type="text" 
                                                        (ngModelChange)="document.comments = $event" #docComments="ngModel" name="document.comments" ></textarea>
                                <!--<div [hidden]="docComments.valid || (docComments.pristine && !newDocument.submitted)" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                    Comments is required
                                </div>-->
                            </div>
                        </div>
                </div>
                <p-footer>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;text-align:right;margin:8px 0px;">
                    <button type="submit" pButton icon="fa-check" label="Create"></button>
                    <button type="button" pButton icon="fa-close" (click)="reset(newDocument);newDocument.submitted=false;" label="Cancel"></button>
                  </div>
                </p-footer>
            </form>
        </p-dialog>
</div>



<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 email-popup" style="float:left">
        <p-dialog header="Send Email" [(visible)]="display2" [modal]="true" [responsive]="true" [width]="850">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">To</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value">
                                <input type="text"> 
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">Subject</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value">
                                <input type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">Body</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-info padding0" style="float:left;max-height:320px;overflow-x:hidden;overflow-y:scroll;">
                        <!-- <p-scrollPanel [style]="{width: '100%', height: '320px'}"> -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 msg-div padding0">
                                <textarea placeholder="Enter Message..."></textarea>
                            </div>
                                <div class="email-body">
                                    <div class="sign-div">
                                        <div class="sign-thanks">Thanks & Regards,</div>
                                        <div class="sign-name">Xcelerate Team.</div>
                                    </div>
                                    <div class="discalim">
                                        “This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.”
                                    </div>
                                </div>
                         <!-- </p-scrollPanel> -->
                    </div>
                </div>
                <p-footer style="float:left;width:100%;padding:10px 0px;">
                    <button type="button" pButton icon="fa-check" (click)="display2=false" label="Send"></button>
                    <button type="button" pButton icon="fa-close" (click)="display2=false" label="Cancel"></button>
                </p-footer>
        </p-dialog>
    </div>