<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 customergrid" style="position:relative;">
        <span style="position:absolute;right:10px;top:5px;display:inline-block;cursor:pointer;z-index:5;" (click)="showDialog()"><img src="../assets/images/add.png" title="Add New"></span>
        <p-table #ct [columns]="cols" [value]="customers" [paginator]="true" [rows]="10" >
                <ng-template pTemplate="caption"> 
                        <div style="text-align: left">        
                            <input type="text" pInputText size="50" [value]="" placeholder="Search..." (input)="ct.filterGlobal($event.target.value, 'contains')" style="width:200px;" class="filter-in">
                        </div>
                    </ng-template>
            <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" >
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer >
                        <tr>
                                <td><span class="{{customer.status}}">{{customer.status}}</span></td>
                                <td>{{customer.customerName}}</td>
                                <td>{{customer.propertyType}}</td>
                                <td>{{customer.address}}</td>
                                <td>{{customer.city}}</td>
                                <td>{{customer.state}}</td>
                                <td>{{customer.zip}}</td>
                                <td>{{customer.phoneNumber}}</td>
                                <td>{{customer.salesRepresentative}}</td>
                                <!-- <td style="text-align:center;"><a routerLink="/Content/Sales/NewSalesActivities"><img [src]="customer.activity"/></a></td> -->
                        </tr>
                </ng-template>
        
        </p-table>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
    <p-dialog header="New Customer" [(visible)]="display" modal="modal" [responsive]="true" [width]="550">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Customer Name</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" style="width:100%"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Property Type</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <span class="type-radio" style="margin-top:2px;display:inline-block;"><input type="radio" value="Residential" name="propertyType"/>Residential</span>
                                <span class="type-radio" style="margin-top:2px;display:inline-block;"><input type="radio" value="Commercial" name="propertyType"/>Commercial</span>
                    </div>
                </div>
                    </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Address</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" style="width:100%"/>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">City</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" style="width:100%"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">State</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" style="width:100%"/>
                    </div>
                </div>
                    </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Zip</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" style="width:100%"/>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Phone Number</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" style="width:100%"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Sales Representative</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" style="width:100%"/>
                    </div>
                </div>
                    </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Status</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <select>
                                <option>Select</option>
                                <option>New</option>
                                <option>InPogress</option>
                                <option>OnHold</option>
                                <option>Closed</option>
                            </select>
                        </div>
                    </div>
                </div>
        </div>
        <p-footer>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;text-align:right;margin:8px 0px;">
                <button type="button"  (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Create</button>
                <button type="button" (click)="display=false" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
            </div>
        </p-footer>
    </p-dialog>
</div>