
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" fullscreenControl="true">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-marker [latitude]="29.634144" [longitude]="-96.063934"></agm-marker>
  <agm-marker [latitude]="29.285812" [longitude]="-81.055885"></agm-marker>
  <agm-marker [latitude]="26.934225" [longitude]="-81.055885"></agm-marker>
</agm-map>
