<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 add-subjob"  style="float:left;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left" style="float:left;">
                <span style="color:#0033cc;font-size:25px;">New File</span>
         </div>
    <form #f="ngForm"  (submit)="saveData(f.value);" class="add-newsub">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 diff-row" style="float:left;">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Select File Types</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0 new-sub-img">
                                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Select Sub Job Type</div> -->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value text-center" style="margin-top:5px;">
                                        <span *ngFor="let item of imagearray;let i=index">
                                            <span *ngIf="item.imageActive">
                                                <img src="{{item.jobActiveImage}}" title="{{item.jobName}}" style="cursor:pointer" (click)="onImgClick(i)"/>
                                            </span>
                                            <span *ngIf = "item.imageActive==false">
                                                    <img src="{{item.jobInactiveImage}}" title="{{item.jobName}}" style="cursor:pointer" (click)="onImgClick(i)"/>
                                            </span>
                                                <!-- <img src= "{{item.imageActive}}?"{{item.jobActiveimage}}:{{item.jobInactiveImage}} title="{{item.jobInactiveImage}}" style="cursor:pointer" (click)="onImgClick(i)"/> -->
                                               <!-- <span [(ngmodel)]="item.jobActiveImage"></span> -->
                                               
                                        </span>
                                        <span class="selected-name">{{displayImageName}}</span>
                                        <div *ngIf="displayImageName==undefined || displayImageName==''" [hidden]="displayImageName.valid || !f.submitted" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                            File Type is required.	
                                        </div>
                                            <!-- <img src="../assets/images/Water_.png" title="Water" style="cursor:pointer" id="picture" (click)="onImgClick()"/>
                                            <img src="../assets/images/Reconstruction_.png" title="Recon" style="cursor:pointer" disabled="otherimagedsbl"/>
                                            <img src="../assets/images/Content_.png" title="Content" style="cursor:pointer" disabled="otherimagedsbl"/>
                                            <img src="../assets/images/Mold_.png" title="Mold" style="cursor:pointer" disabled="otherimagedsbl"/>
                                            <img src="../assets/images/Asbestos_.png" title="Asbestos" style="cursor:pointer" disabled="otherimagedsbl"/>
                                            <img src="../assets/images/Board_.png" title="Board Up" style="cursor:pointer" disabled="otherimagedsbl"/>
                                            <img src="../assets/images/Consulting_.png" title="Consulting" style="cursor:pointer" disabled="otherimagedsbl"/>
                                            <img src="../assets/images/Bio_.png" title="Bio" style="cursor:pointer" disabled="otherimagedsbl"/> -->
                                    </div>
                            </div>
                        </div>
                        
                        
                </div><!-- End of Row -->
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 diff-row" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Roles</div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  with-add part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Supervisor</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                               <!-- <select>
                                                    <option>Select</option>
                                                    <option>Shannon</option>
                                                    <option>Castro</option>
                                                    <option>Wong</option>
                                                    <option>Dennis</option>
                                                </select>-->
                                                <p-autoComplete 
                                                [(ngModel)]="supervisor" 
                                                [suggestions]="filteredSupervisors" 
                                                (completeMethod)="filterSupervisor($event)" 
                                                field="fullName"
                                                [size]="30"
                                                [forceSelection]="true"
                                                [dropdown]="true"
                                                placeholder="Supervisor" 
                                                name="supervisor">
                                                </p-autoComplete>
                                                <span (click)="showDialog('Supervisor')"><img src="./assets/images/add.png"></span>
                                                    <!-- <p-autoComplete [(ngModel)]="selectedOwner" [suggestions]="filteredCustomerAddress" [size]="30" field="name"
                                                        placeholder="Role" [minLength]="1"  name="selectedOwner"></p-autoComplete> -->
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  with-add part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Estimator</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                    <!--<select>
                                                        <option>Select</option>
                                                        <option>Rachael</option>
                                                        <option>Claudia</option>
                                                        <option>Carol</option>
                                                        <option>Timothy</option>
                                                    </select>-->
                                                <p-autoComplete 
                                                [(ngModel)]="estimator" 
                                                [suggestions]="filteredEstimators" 
                                                (completeMethod)="filterEstimator($event)" 
                                                field="fullName"
                                                [size]="30"
                                                [forceSelection]="true"
                                                [dropdown]="true"
                                                placeholder="Estimator" 
                                                name="estimator">
                                                </p-autoComplete>
                                                <span (click)="showDialog('Estimator')"><img src="./assets/images/add.png"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  with-add part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Co-Ordinator</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                    <!--<select>
                                                        <option>Select</option>
                                                        <option>Walker</option>
                                                        <option>Castro</option>
                                                        <option>Farmer</option>
                                                        <option>Logan</option>
                                                    </select>-->
                                                <p-autoComplete 
                                                [(ngModel)]="coordinator" 
                                                [suggestions]="filteredCoordinators" 
                                                (completeMethod)="filterCoordinator($event)" 
                                                field="fullName"
                                                [size]="30"
                                                [forceSelection]="true"
                                                [dropdown]="true"
                                                placeholder="Co-Ordinator" 
                                                name="coordinator">
                                                </p-autoComplete>
                                                <span (click)="showDialog('Coordinator')"><img src="./assets/images/add.png"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  with-add part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Finance</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                    <!--<select>
                                                        <option>Select</option>
                                                        <option>Louise</option>
                                                        <option>Rosemary</option>
                                                        <option>April</option>
                                                        <option>Leah</option>
                                                    </select>-->
                                                <p-autoComplete 
                                                [(ngModel)]="finance" 
                                                [suggestions]="filteredFinance" 
                                                (completeMethod)="filterFinance($event)" 
                                                field="fullName"
                                                [size]="30"
                                                [forceSelection]="true"
                                                [dropdown]="true"
                                                placeholder="Finance" 
                                                name="finance">
                                                </p-autoComplete>
                                                <span (click)="showDialog('Finance')"><img src="./assets/images/add.png"></span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  with-add part-info padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Sales Representative</div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                    <p-autoComplete 
                                                        [(ngModel)]="salesRepresentativeName"
                                                        [suggestions]="filteredSalesName"
                                                        (completeMethod)="filterSaleName($event)"
                                                        field="fullName" 
                                                        [size]="30"
                                                        [forceSelection]="true"
                                                        [dropdown]="true"
                                                        name="salesRepresentativeName"
                                                        placeholder="Sales Representative">
                                                    </p-autoComplete>
                                                    <span (click)="showDialog('Sales Representative')"><img src="./assets/images/add.png"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  with-add part-info padding0">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Administrator</div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                        <p-autoComplete 
                                                        [(ngModel)]="Administrator" 
                                                        [suggestions]="filteredAdministrator" 
                                                        (completeMethod)="filterAdministrator($event)" 
                                                        field="fullName"
                                                        [size]="30"
                                                        [forceSelection]="true"
                                                        [dropdown]="true"
                                                        placeholder="Administrator" 
                                                        name="Administrator">
                                                        </p-autoComplete>
                                                        <span (click)="showDialog('Administrator')"><img src="./assets/images/add.png"></span>
                                                </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  with-add part-info padding0">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Role</div>
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                           <p-autoComplete 
                                                        [(ngModel)]="role" 
                                                        [suggestions]="filteredBlankRole" 
                                                        (completeMethod)="filterBlankRole($event)" 
                                                        field="fullName"
                                                        [size]="30"
                                                        [forceSelection]="true"
                                                        [dropdown]="true"
                                                        placeholder="Role" 
                                                        name="role">
                                                        </p-autoComplete>
                                                            <span (click)="showDialog('Role')"><img src="./assets/images/add.png"></span>
                                                    </div>
                                        </div>
        
                            </div><!-- End of Diff Row -->
                 </div>
                 <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 diff-row" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Description</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value" style="margin:5px 0px 0px 0px;">
                                <textarea [(ngModel)]="description" name="description" style="width:100%;height:80px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div><!-- End of Column Width 12 Div -->
        </div><!-- End of Row --> 
        <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right action-btn" style="margin-top:20px;">
                                <button type="button" class="sav-mail" (click)="sendFileDetails(f)"><span><img src="./assets/images/mail.png"></span>Send Email</button>
                                <button class="sav" type="submit" ><span><img src="./assets/images/save.png"></span>Save File</button>
                                <button class="cancel" type="reset" (click)="f.reset();f.submitted=false;cancel();"><span><img src="./assets/images/cancel.png"></span>Cancel</button>
                        </div>
                </div>
        </div><!-- End of Row -->
    </form>
</div>

<div class="content-section implementation">
    <p-growl [(value)]="msgs"></p-growl>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
    <p-dialog header="Add New {{this.contactDetails.contactType}}" [(visible)]="display" modal="modal" [responsive]="true" [width]="350">
        <form #newContact="ngForm" (submit)="saveContactData(newContact);" method="POST">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">First Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" [ngModel]="contactDetails?.firstName" name="contactDetails.firstName" class="form-control"
                                        (ngModelChange)="contactDetails.firstName = $event" required #conFirstName="ngModel"/>
                            <div [hidden]="conFirstName.valid || (conFirstName.pristine && !newContact.submitted)" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                    First Name is required.	
                            </div> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Last Name</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input type="text" [ngModel]="contactDetails?.lastName" name="contactDetails.lastName" 
                                        (ngModelChange)="contactDetails.lastName = $event" required #conLastName="ngModel"/>
                                <div [hidden]="conLastName.valid || (conLastName.pristine && !newContact.submitted)" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                        Last Name is required.	
                                </div>
                        </div>
                </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Email</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" [ngModel]="contactDetails?.email" name="contactDetails.email"
                                (ngModelChange)="contactDetails.email = $event" [pattern]="emailPattern"
                                    (ngModelChange)="email=$event"   
                                    #contactEmail="ngModel"> 
                            <div *ngIf="contactEmail.errors"> 
                                <div *ngIf="contactEmail.errors.pattern" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.5px;"> 
                                    Email is invalid
                                </div>	
                            </div> 
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Phone Number</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-inputMask mask="(999) 999-9999" type="text" [ngModel]="contactDetails?.phoneNo" name="contactDetails.phoneNo"
                                (ngModelChange)="contactDetails.phoneNo = $event" placeholder="(999) 999-9999"></p-inputMask>
                        </div>
                </div>
        </div>
        <p-footer>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;margin:8px 0px;text-align:right">
                <button type="submit"  style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-check"></i>&nbsp;Create</button>
                <button type="button" (click)="display=false;newContact.submitted=false;" style="background:#333;color:#FFF;padding:3px 10px;cursor:pointer;border:none;"><i class="fa fa-times"></i>&nbsp;Cancel</button>
            </div>
        </p-footer>
        </form>
    </p-dialog>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 email-popup" style="float:left">
    <p-dialog header="Send Email" [(visible)]="displayEmail" [modal]="true" [responsive]="true" [width]="850">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">To</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value">
                            <input type="text"  [(ngModel)]="emailTo" [pattern]="emailPattern" 
                                (keypress)="showMailToMsg=false;emailTo=$event.target.value;" 
                                #recipients="ngModel" maxlength="250"> 
                            <div *ngIf="showMailToMsg" style="color:rgb(202, 10, 10);font-size:13px;font-weight:600;letter-spacing:0.7px;"> 
                                Email is required.
                            </div>
                        </div>
                        <div *ngIf="recipients.errors"> 
                            <div *ngIf="recipients.errors.pattern" style="color:rgb(202, 10, 10);font-size:13px;font-weight:600;letter-spacing:0.7px;"> 
                                Email is invalid
                            </div>	
                        </div> 
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">Subject</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value">
                            <input type="text" [(ngModel)]="emailSubject" />
                            <div *ngIf="showSubjectMsg" style="color:rgb(202, 10, 10);font-size:13px;font-weight:600;letter-spacing:0.7px;"> 
                                    Subject is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">Body</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-info padding0" *ngIf="fileDetails!=undefined && fileDetails.jobId!=undefined" style="float:left;max-height:320px;overflow-x:hidden;overflow-y:scroll;">
                    <!-- <p-scrollPanel [style]="{width: '100%', height: '320px'}"> -->
                        <div id="emailBody" #emailBody>
                            <div class="em_pdf">
                                <div class="em_title">New File Details</div>
                                <div class="em_pdf_info">
                                    <div class="em_row">
                                        <div class="em_row_div">
                                        <div class="em_text">File Type</div>
                                        <div class="em_value">{{fileDetails.jobType}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="em_title">Roles</div>
                                <div class="em_pdf_info">
                                <div class="contact_table">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                        </tr>  
                                        </thead>
                                        <tbody *ngIf="roles !== undefined && roles !== null">
                                       <tr *ngFor="let role of roles">
                                            <td>{{role.name}}</td>
                                            <td>{{role.role}}</td>
                                            <td>{{role.email}}</td>
                                            <td>{{role.phoneNo}}</td>
                                        </tr>  
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                        <div class="email-body">
                            <div class="sign-div">
                                <div class="sign-thanks">Thanks & Regards,</div>
                                <div class="sign-name">Xcelerate Team.</div>
                            </div>
                            <div class="discalim">
                                “This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.”
                            </div>
                        </div>
                        </div>
                     <!-- </p-scrollPanel> -->
                </div>
            </div>
            <p-footer style="float:left;width:100%;padding:10px 0px;">
                <button type="button" pButton icon="fa-check" (click)="sendMail(recipients)" label="Send"></button>
                <button type="button" pButton icon="fa-close" (click)="displayEmail=false" label="Cancel"></button>
            </p-footer>
    </p-dialog>
</div>