span.pic-text{display:block;padding:4px 0px;text-align:center;text-decoration: none;}
span.pic-text:hover{text-decoration: underline;}
.all-pics{text-decoration: none;}
.pdf-convt{margin: 5px 0px 5px 0px;float: left;}
.pdf-convt img{cursor: pointer;}
.email-text{float:left;font-size: 14px;margin:2px 0px;color: #666666;letter-spacing: 0.5px;padding-left: 7px;}
.email-value{float:left;margin-bottom: 3px;padding-left: 8px;}
.email-value input{width:99%;padding: 0px 5px;font-size:13px;margin: 0px;outline:none;height:25px;border: 1px solid #CCC;box-sizing: border-box;}
.email-body{width: 100%;padding: 0px;margin: 0px 0% 5px;float: left;overflow: hidden;}
/* .email-info .ui-scrollpanel-bar-x{display: none;}
.email-info .ui-scrollpanel-bar-y{width: 3px;background: #333;} */
/* .email-info .ui-scrollpanel-bar{background-color:rgba(0,0,0,0.5);width:5px;}
.email-info .ui-scrollpanel-bar-x{display: none !important;} */
.part{width: 98%;padding: 0px;margin:5px 1%;float: left;overflow: hidden;}
.title{width: 100%;float: left;padding: 5px 0px;margin:0px 0%;color: #009cb8;font-size: 20px;text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);letter-spacing: 0.5px;}
.title-info{background: #FFF;padding: 8px;margin: 5px 0%;float: left;width: 100%;border: 1px solid #CCC;box-sizing: border-box;}
.field-div{width:20%;float: left;padding: 0px;margin: 0px 0px 5px 0px;}
.field-text{width: 100%;float: left;padding: 0px; font-size: 11px;margin: 0px;color: #c2c2c2;font-weight: 500;letter-spacing: 0.5px;}
.field-value{width: 100%;padding: 0px;margin: 0px;float: left;font-size: 11px;color: #4a4a4a;font-weight: 500;}
.part2{width:100%;float: left;padding: 0px;margin: 0px 0%;}
.part2 .title{width: 100%;margin: 0px;}
.part2 .title-info{width: 100%;margin-top: 0px;margin-left: 0px;margin-right: 0px;}
/*        .part2 .field-div{width: 45%;}*/
.part3{width: 100%;float: left;padding: 0px;margin: 0px 0%;}
.part3 .title-info{margin-top: 0px;}

.sign-div{width: 98%;float: left;padding: 0px 20px;margin: 20px 0px 0px 0px;}
.sign-thanks{width: 100%; font-size: 16px;color: #666666;float: left;font-weight: 500;letter-spacing: 0.3px;}
.sign-name{width: 100%;font-size: 20px;color: #333333;float: left;font-weight: 600;letter-spacing: 0.3px;}
.discalim{width:98%;float: left;border-top:1px solid #333333;box-sizing: border-box;padding: 5px;font-size: 12px;text-align: justify;color: #666666;margin:8px 1% 10px 1%;}