<div class="main-information" style="float:left;">
     <div class="col-lg-12 col-md-12 col-sm-pull-12 col-xs-pull-12 add-list" style="float:left;">
          <button class="reset" type="button" (click)="reset(dt);"> Reset </button>
     </div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
<p-table #dt [columns]="cols" [value]="masterNumbers" sortMode="multiple" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,50,100,150,200]">
        <ng-template pTemplate="caption"> 
                <div style="text-align: left">        
                    <!--<i class="fa fa-search" style="margin:4px 4px 0 0;color:#333333;"></i>-->
                    <!--<input type="text" pInputText size="50" [value]="" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:200px;" class="filter-in">-->
                </div>
            </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" >
                {{col.header}}
                <!--<p-sortIcon [field]="col.field"></p-sortIcon>-->
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" style="padding:3px;">
                    <input *ngSwitchCase="'masterNumber'" [(ngModel)]="masterNumber" pInputText type="text" style="width:100%" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <input *ngSwitchCase="'customerName'" [(ngModel)]="customerName" pInputText type="text" style="width:100%" (input)="dt.filter($event.target.value, col.field, 'contains')">
                    <!--<input *ngSwitchCase="'address'" pInputText type="text" style="width:100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">-->
                    <!--<input *ngSwitchCase="'city'" pInputText type="text" style="width:100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'state'" pInputText type="text" style="width:100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
                    <input *ngSwitchCase="'zip'" pInputText type="text" style="width:100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">-->
                    <!--<input *ngSwitchCase="'phoneNo'"  pInputText type="text" style="width:100%" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">-->
                     <div *ngSwitchCase="'jobs'" style="text-align: center;">
                        <img src="../assets/images/Water_r.png" title="Water" (click)="dt.filterGlobal('Water', 'contains')">
                        <img src="../assets/images/Reconstruction_r.png" title="Recon" (click)="dt.filterGlobal('Recon', 'contains')">
                        <img src="../assets/images/Content_r.png" title="Content" (click)="dt.filterGlobal('Content', 'contains')">
                        <img src="../assets/images/Mold_r.png" title="Mold" (click)="dt.filterGlobal('Mold', 'contains')">
                        <img src="../assets/images/Asbestos_r.png" title="Asbestos" (click)="dt.filterGlobal('Asbestos', 'contains')">
                        <img src="../assets/images/Board Up_r.png" title="Board Up" (click)="dt.filterGlobal('Board', 'contains')">
                        <img src="../assets/images/Consulting_r.png" title="Consulting" (click)="dt.filterGlobal('Consulting', 'contains')">
                        <img src="../assets/images/Bio_r.png" title="Bio" (click)="dt.filterGlobal('Bio', 'contains')" >
                     </div>
                    <!--<input *ngSwitchCase="'jobs'" pInputText type="text" style="width:100%" (input)="dt.filterGlobal($event.target.value, 'contains')">-->
                    <!-- <p-multiSelect *ngSwitchCase="'jobs'" [options]="files" defaultLabel="All Files" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, 'jobsList', 'contains')"></p-multiSelect> -->
                        <!--<p-dropdown *ngSwitchCase="'Customer Name'" [options]="customerName" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown> -->
            </th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-rowData let-col >
        <tr [pSelectableRow]="rowData">
                <td>{{col.masterNumber }}</td>
                <td>{{col.customerName}}</td>
                <!--<td>{{col.address}}</td>-->
                <td>{{col.city}}</td>
                <td>{{col.state}}</td>
                <td>{{col.zip}}</td>
                <!--<td>{{col.phoneNo}}</td>-->
                <td>{{col.createdDatetime | date: 'MM/dd/yyyy hh:mm:ss'}}</td>
                <td >
                   <a routerLink="/Content/MasterNumber/MasterNumberDetails/{{col.masterHash}}"><span class="jobs-count">{{col.jobsCount}}</span></a>
                   <span *ngFor="let tempjob of col.jobs"> 
                       <span *ngIf="tempjob.isjobActive" style="position:relative;display:inline-block;">
                            <!-- <a routerLink="/Content/SubJobs/SubJobsDetails/{{tempjob.jobHash}}"><img src="{{tempjob.jobImage}}"  title="{{tempjob.jobType}}"/> </a> -->
                            <a routerLink="/Content/SubJobs/SubJobsDetails/{{tempjob.jobHash}}" *ngIf="tempjob.jobHash.length>1==false"><img src="{{tempjob.jobImage}}"  title="{{tempjob.jobType}}"/> </a>
                            <a *ngIf="tempjob.jobHash.length>1==true" style="cursor:default;"><img src="{{tempjob.jobImage}}"  title="{{tempjob.jobType}}"  style="cursor:default;"/> </a>
                            <span class="badge" (mouseover)="overBadge($event)" *ngIf="tempjob.jobHash.length>1==true">{{tempjob.jobHash.length}}</span> 
                            <div class="PopupBox"> 
                                    <span class="close-pop" (click)="closePop($event)">Close</span>
                                    <span *ngFor="let jobhash of tempjob.jobHash">
                                            <a routerLink="/Content/SubJobs/SubJobsDetails/{{jobhash}}"><img  src="{{tempjob.jobImage}}"  title="{{jobhash}}" style="margin:1px 5px;"/></a>
                                    </span>
                            </div>
                       </span>
                       <span *ngIf ="tempjob.isjobActive==false">
                            <img src="{{tempjob.jobImage}}"  title="{{tempjob.jobType}}" style="cursor:default;"/>
                       </span>
                   
                    <!-- <a routerLink="/Content/SubJobs/SubJobsDetails"><img src="{{tempjob.jobImage}}"  title="{{tempjob.jobType}}"/> </a> -->
                  </span>
                 
                </td>
                <td style="text-align:center;" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''"><a routerLink="/Content/SubJobs/NewSubJobs/{{col.masterHash}}"><img src="../assets/images/job_icon.png"></a></td>
                <td>
                    <img src="../assets/images/delete_icon_dis.png" *ngIf="col.jobsCount>0==true" style="cursor:default;">
                    <img src="../assets/images/delete_icon.png" (click)="showDialog()" *ngIf="col.jobsCount>0==false">
                </td>
                <!--<td><a routerLink="/Content/AddMasterNumber"><img src="../assets/images/edit.png" width="25px"></a></td>-->
                <td >{{col.jobsList}}</td>
     <!--/*.master-info table tbody tr td:last-child{display: none;} */ -->

            
        </tr>    
    </ng-template>
</p-table>

</div>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_div" style="float:left">
        <p-dialog header="Delete " [(visible)]="display" [modal]="true" [responsive]="true" [width]="350">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_feild" style="float:left;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float:left;padding-left:0px;">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_text">Master Number</div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_value">M_LillieMoran_382</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float:left;padding-left:0px;">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_text">Customer Name</div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_value">Martin Louise</div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_feild" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_text">Reason For Deletion</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 del_value">
                            <textarea></textarea>
                        </div>
                  </div>
                </div>
                    <p-footer>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right" style="float:left;padding:8px 0px;">
                        <button type="button" pButton icon="fa-trash-o" (click)="display=false" label="Delete"></button>
                        <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
                     </div>
                    </p-footer>
        </p-dialog>
</div>

          




