<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-diff" style="float:left;padding:0px;">
        <span style="display:block;cursor:pointer;text-align:right;" ><img src="../assets/images/add.png" (click)="showDialog()"></span>
        <p-tabView (onChange)="onTabChange($event)">
            <p-tabPanel header="All Notes" [selected]="true" style="height:215px;background:#FFF;float:left;">
                <p-scrollPanel [style]="{width: '100%', height: '200px', background: '#FFF'}">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                        <p-table [value]="notes">
                            <ng-template pTemplate="body" let-note >
                                <tr>
                                    <th>{{note.note}}</th>
                                    <td>{{note.noteby}}</td>
                                    <td>{{note.datetime | date: 'MM/dd/yyyy'}}</td>  
                                </tr>
                            </ng-template>
                        </p-table>
                        
                        <span *ngIf="notes==false" style="display:block;margin-top:20px;text-align:center;color:#4d4d4d;font-size:20px;opacity:0.6;">Notes are not Available.</span>
                    </div>
                </p-scrollPanel>
            </p-tabPanel>

            <p-tabPanel header="Operational Notes" style="height:215px;background:#FFF;float:left;">
                <p-scrollPanel [style]="{width: '100%',  height: '200px', background: '#FFF'}">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                        <p-table [value]="operationalNotes">
                            <ng-template pTemplate="body" let-note >
                                <tr>
                                    <th>{{note.note}}</th>
                                    <td>{{note.noteby}}</td>
                                    <td>{{note.datetime | date: 'MM/dd/yyyy'}}</td> 
                                </tr>
                            </ng-template>
                        </p-table>
                        <span *ngIf="operationalNotes==false" style="display:block;margin-top:20px;text-align:center;color:#4d4d4d;font-size:20px;opacity:0.6;">Operational Notes are not Available.</span>
                    </div>
                </p-scrollPanel>
            </p-tabPanel>

            <p-tabPanel header="Financial Notes" style="height:215px;background:#FFF;float:left;">
                <p-scrollPanel [style]="{width: '100%',  height: '200px', background: '#FFF'}">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                        <p-table [value]="financialNotes">
                            <ng-template pTemplate="body" let-note >
                                <tr>
                                    <th>{{note.note}}</th>
                                    <td>{{note.noteby}}</td>
                                    <td>{{note.datetime | date: 'MM/dd/yyyy'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <span *ngIf="financialNotes==false" style="display:block;margin-top:20px;text-align:center;color:#4d4d4d;font-size:20px;opacity:0.6;">Financial Notes are not Available.</span>
                    </div>
                </p-scrollPanel>
            </p-tabPanel>

            <p-tabPanel header="Sub Contractor Notes" style="height:215px;background:#FFF;float:left;">
                <p-scrollPanel [style]="{width: '100%',  height: '200px', background: '#FFF'}">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                    <p-table [value]="subContractorNotes">
                        <ng-template pTemplate="body" let-note >
                                <tr>
                                    <th>{{note.note}}</th>
                                    <td>{{note.noteby}}</td>
                                    <td>{{note.datetime | date: 'MM/dd/yyyy'}}</td>
                                </tr>
                        </ng-template>
                    </p-table>
                    <span *ngIf="subContractorNotes==false" style="display:block;margin-top:20px;text-align:center;color:#4d4d4d;font-size:20px;opacity:0.6;">Sub Contractor Notes are not Available.</span>
                </div>
                </p-scrollPanel>
            </p-tabPanel>

            <p-tabPanel header="Internal Notes" style="height:215px;background:#FFF;float:left;">
                <p-scrollPanel [style]="{width: '100%',  height: '200px', background: '#FFF'}">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 note-table padding0" style="float:left;">
                    <p-table [value]="internalNotes">
                        <ng-template pTemplate="body" let-note >
                                <tr>
                                    <th>{{note.note}}</th>
                                    <td>{{note.noteby}}</td>
                                    <td>{{note.datetime | date: 'MM/dd/yyyy'}}</td>
                                </tr>
                        </ng-template>
                    </p-table>
                    <span *ngIf="internalNotes==false" style="display:block;margin-top:20px;text-align:center;color:#4d4d4d;font-size:20px;opacity:0.6;">Internal Notes are not Available.</span>
                </div>
                </p-scrollPanel>
            </p-tabPanel>
        </p-tabView>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
            <p-dialog header="Note" [(visible)]="display" modal="modal" width="550" [responsive]="true">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Notes</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                   <select [(ngModel)]="category" required name="category" [disabled]="isSelected">
                                       <option>Operational Notes</option>
                                       <option>Financial Notes</option>
                                       <option>SubContractor Notes</option>
                                       <option>Internal Notes</option>
                                   </select>
                                   <div [hidden]="isValidNotes" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                        Notes is required.	
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 part-info padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Notes Description</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <textarea style="width:100%;height:80px;" [(ngModel)]="description" required name="description"></textarea>
                                    <div [hidden]="isValidDesc" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;">
                                        Notes Description is required.	
                                    </div>
                                </div>
                            </div>
                    </div>
                    <p-footer>
                        <button pButton icon="fa-envelope-o" (click)="showDialog2();" label="Send Mail"></button>
                        <button type="submit" pButton icon="fa-check" (click)="saveNotes();" label="Create"></button>
                        <button type="button" pButton icon="fa-close" (click)="display=false;" label="Cancel"></button>
                    </p-footer>
             </p-dialog>
      </div>

      

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 email-popup" style="float:left">
    <p-dialog header="Send Email" [(visible)]="display2" [modal]="true" [responsive]="true" [width]="850">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">To</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value">
                            <input type="text"> 
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">Subject</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value">
                            <input type="text"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">Body</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-info padding0" style="float:left;max-height:320px;overflow-x:hidden;overflow-y:scroll;">
                    <!-- <p-scrollPanel [style]="{width: '100%', height: '320px'}"> -->
                            <div class="email-body">
                                <div class="em_pdf">
                                    <div class="em_title">Notes</div>
                                    <div class="em_pdf_info">
                                        <div class="note_table">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Note By</th>
                                                <th>Notes Description</th>
                                            </tr>  
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <td>24/05/2018</td>
                                                <td>Sarah Jain</td>
                                                    <td>I walked the job with the customer and you just heard. The building is going to need an extensive structure clean. The adjuster wants us to also replace all of the acoustic on the main floor. He also wants us to replace the acoustic in the accounting offices. He wants us to clean all the carpets and the tile. We inspected the roof drain. Secondary drain is the one that caught fire and is damaged.</td>
                                                </tr>    
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="sign-div">
                                    <div class="sign-thanks">Thanks & Regards,</div>
                                    <div class="sign-name">Xcelerate Team.</div>
                                </div>
                                <div class="discalim">
                                    “This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.”
                                </div>
                            </div>
                        <!-- </p-scrollPanel> -->
                </div>
            </div>
            <p-footer style="float:left;width:100%;padding:10px 0px;">
                <button type="button" pButton icon="fa-check" (click)="display2=false" label="Send"></button>
                <button type="button" pButton icon="fa-close" (click)="display2=false" label="Cancel"></button>
            </p-footer>
    </p-dialog>
</div>