<!-- <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-head padding0">
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 job-headLeft" style="padding-left:0px;"> 
          Notes
       </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 job-headRight text-right">
         <img src="../assets/images/add.png">
       </div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-fullinfo">
        <div class="job-row" *ngFor="let note of notes">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-Pname padding0">{{note.name}}</div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-Cname padding0">{{note.notes}}</div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-Tname padding0">{{note.dttm}}</div>
        </div>
   </div>
</div> -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 notes-table padding0">
        <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>Note</th>
                <th>Sub Job Type</th>
                <th>By</th>
                <th>Date & Time</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let note of notes">
                <td>{{ note.note }}</td>
                <td><a routerLink="/Content/SubJobs/SubJobsDetails"><img [src]="note.jobImage" title="{{note.jobImage}}" /></a></td>
                <td>{{note.noteby}}</td>
                <td>{{note.dttm}}</td>
              </tr>
            </tbody>
            </table> -->
            <p-table [columns]="cols" [value]="notes" [scrollable]="true" scrollHeight="190px">
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" >
                          {{col.header}}
                          <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-note >
                      <tr>
                              <td>{{note.note}}</td>
                              <td><a routerLink="/Content/SubJobs/SubJobsDetails/{{note.jobHashCode}}"><img [src]="note.jobImage" title="{{note.jobImage}}" /></a></td>
                              <td>{{note.noteby}}</td>
                              <td>{{note.datetime | date: 'MM/dd/yyyy'}}</td>
                      </tr>
              </ng-template>
          </p-table>
    </div>
 </div>