<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pics-show padding0" style="float:left;margin:8px 0px 20px 0px;">
<!-- <p-galleria [images]="images" panelWidth="500" panelHeight="313" showCaption="true"></p-galleria> -->
<p-galleria [images]="images" showCaption="true"></p-galleria>
</div>