<html>
  <head>
     <style>
       html,body{padding: 0px;margin: 0px;background:#FFF;font-family: Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;} 
        .em_pdf{width:98%;padding:0px;margin:10px 1%;float:left;overflow:hidden;-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}
        .em_title{width:100%;padding:5px 10px;margin:0px;float:left;font-size:16px;letter-spacing:0.5px;background:#595959;color:#FFF;box-shadow: 0 5px 5px -5px #000000;}
        .em_pdf_info{width: 98%;float: left;padding:10px;margin: 0px;overflow: hidden;}
        .em_pdf_right{width: 80%;float: left;padding: 0px;margin: 0px;overflow: hidden;}
        .em_row{width: 100%;padding: 0px;margin:5px 0px;float: left;overflow: hidden;}
        .em_row_div{width: 25%;padding: 0px;margin:3px 0px;float: left;overflow: hidden;word-wrap: break-word;}
        .em_row_div .em_text{width: 100%;padding: 0px;margin: 0px;float: left;overflow: hidden;font-size: 12px;color: #737373;letter-spacing: 0.5px;}
        .em_value{width: 100%;padding: 0px;margin: 0px;float: left;color: #666666; overflow: hidden;font-size: 13px;font-weight: 500;word-wrap: break-word;}
        .desc_table{width: 100%;padding:0px;margin: 0px;float: left;overflow: hidden;}
        .desc_table table{width: 100%;padding: 0px;margin: 0px 0% 0px 0px;float: left;border-collapse: collapse;border: 1px solid #CCC;box-sizing: border-box;}
        .desc_table table thead tr th{background: #CCC;padding: 5px 10px;color: #595959;font-size: 13px;font-weight: 500;}
        .desc_table table thead tr th:nth-child(1){width: 12%;}
        .desc_table table thead tr th:nth-child(2){width: 88%;text-align: left;}
        .desc_table table tbody tr td{padding: 3px 5px;border: 1px solid #CCC;word-break:break-word;box-sizing: border-box;font-size: 12px;letter-spacing: 0.5px;color: #595959;}
        .desc_table table tbody tr td:nth-child(1){text-align: center;}
        .desc_table table tbody tr td:nth-child(2){text-align: left;}
        .contact_table{width: 100%;padding: 0px;margin: 0px;float: left;overflow: hidden;}
        .contact_table table{width: 100%;padding: 0px;margin: 0px 0% 0px 0px;float: left;border-collapse: collapse;border: 1px solid #CCC;box-sizing: border-box;}
        .contact_table table thead tr th{background: #CCC;padding: 5px 10px;color: #595959;font-size: 13px;font-weight: 500;}
        .contact_table table tbody tr td{padding: 3px 5px;border: 1px solid #CCC;box-sizing: border-box;font-size: 12px;letter-spacing: 0.5px;color: #595959;}
        .note_table{width: 100%;padding: 0px;margin: 0px;float: left;overflow: hidden;}
        .note_table table{width: 100%;padding: 0px;margin: 0px 0% 0px 0px;float: left;border-collapse: collapse;border: 1px solid #CCC;box-sizing: border-box;}
        .note_table table thead tr th{background: #CCC;padding: 5px 10px;color: #595959;font-size: 13px;font-weight: 500;}
        .note_table table thead tr th:nth-child(1){width: 12%;}
        .note_table table thead tr th:nth-child(2){width: 12%;text-align: left;}
        .note_table table thead tr th:nth-child(3){width: 10%;text-align: center;}
        .note_table table thead tr th:nth-child(4){width: 63%;text-align: left;}
        .note_table table tbody tr td{padding: 3px 5px;border: 1px solid #CCC;word-break:break-word;box-sizing: border-box;font-size: 12px;letter-spacing: 0.5px;color: #595959;}
        .note_table table tbody tr td:nth-child(1){text-align: center;}
        .note_table table tbody tr td:nth-child(3){text-align: center;}
    </style> 
  </head>
  <body>
     <div class="em_pdf">
         <div class="em_title">Master Details</div>
         <div class="em_pdf_info">
                <div class="em_row">
                  <div class="em_row_div">
                    <div class="em_text">Comapany Name</div>
                    <div class="em_value">
                       <span *ngIf="masterNumberData !==undefined && masterNumberData.company !== undefined">{{masterNumberData.company}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Owner Name</div>
                    <div class="em_value">
                       <span *ngIf="masterNumberData !==undefined && masterNumberData.customerName !== undefined">{{masterNumberData.customerName}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Responsible Party</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.responsibleParty !== undefined">{{masterNumberData.responsibleParty}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Email</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.email !== undefined">{{masterNumberData.email}}</span>
                    </div>
                  </div>
                </div>
                <div class="em_row">
                  <div class="em_row_div">
                    <div class="em_text">Phone No.</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.phoneNo !== undefined">{{masterNumberData.phoneNo}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Cell No.</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.mobile !== undefined">{{masterNumberData.mobile}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Work No.</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.workPhone !== undefined">{{masterNumberData.workPhone}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Tenant Name</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.tenantName !== undefined">{{masterNumberData.tenantName}}</span>
                    </div>
                  </div>
                </div>
                <div class="em_row">
                  <div class="em_row_div">
                    <div class="em_text">Tenant No.</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.tenantNumber !== undefined">{{masterNumberData.tenantNumber}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Loss Address</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.lossAddress !== undefined">{{masterNumberData.lossAddress}}</span>
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.lossAddressCity !== undefined">{{masterNumberData.lossAddressCity}}</span>
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.lossAddressState !== undefined">{{masterNumberData.lossAddressState}}</span>
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.lossAddressZip !== undefined">{{masterNumberData.lossAddressZip}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Billing Address</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.billingAddress !== undefined">{{masterNumberData.billingAddress}}</span>
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.billingAddressCity !== undefined">{{masterNumberData.billingAddressCity}}</span> 
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.billingAddressState !== undefined">{{masterNumberData.billingAddressState}}</span> 
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.billingAddressZip !== undefined">{{masterNumberData.billingAddressZip}}</span>
                    </div>
                  </div>
                </div>
                <div class="em_row">
                  <div class="em_row_div">
                    <div class="em_text">Cause Of Loss</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.causeOfLoss !== undefined">{{masterNumberData.causeOfLoss}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Program Type</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.programType !== undefined">{{masterNumberData.programType}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Year Built</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.yearBuilt !== undefined">{{masterNumberData.yearBuilt}}</span>
                    </div>
                  </div>
                  <div class="em_row_div">
                    <div class="em_text">Property Type</div>
                    <div class="em_value">
                        <span *ngIf="masterNumberData !==undefined && masterNumberData.propertyType !== undefined">{{masterNumberData.propertyType}}</span>
                    </div>
                  </div>
                </div>
         </div>
         <div class="em_title">Insurance Details</div>
         <div class="em_pdf_info">
            <div class="em_row">
              <div class="em_row_div">
                <div class="em_text">Self Pay</div>
                <div class="em_value">
                  <span *ngIf="masterNumberData !==undefined && masterNumberData.isInsured == 'Y'">No</span>
                  <span *ngIf="masterNumberData !==undefined && masterNumberData.isInsured != 'Y'">Yes</span>
                </div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Claim No.</div>
                <div class="em_value" >
                  <span *ngIf="insurances !==undefined && insurances !== null && insurances.claimNumber !== undefined">{{insurances.claimNumber}}</span>
                </div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Policy No.</div>
                <div class="em_value">
                   <span *ngIf="insurances !==undefined && insurances !== null && insurances.policyNumber !== undefined"> {{insurances.policyNumber}}</span>
                </div>
              </div>
              <div class="em_row_div">
                <div class="em_text">Insurance Company</div>
                <div class="em_value">
                   <span *ngIf="insurances !==undefined && insurances !== null && insurances.insuranceCompanyName !== undefined"> {{insurances.insuranceCompanyName}}</span>
                </div>
              </div>
            </div>
            <div class="em_row">
               <div class="em_row_div">
                <div class="em_text">Company Address</div>
                <div class="em_value">
                  <span *ngIf="insurances !==undefined && insurances !== null && insurances.address !== undefined"> {{insurances.address}}</span>
                </div>
               </div>
               <div class="em_row_div">
                <div class="em_text">Phone No.</div>
                <div class="em_value">
                  <span *ngIf="insurances !==undefined && insurances !== null && insurances.phone !== undefined"> {{insurances.phone}}</span>
                </div>
               </div>
               <div class="em_row_div">
                <div class="em_text">Email</div>
                <div class="em_value">
                  <span *ngIf="insurances !==undefined && insurances !== null && insurances.email !== undefined"> {{insurances.email}}</span>
                </div>
               </div>
               <div class="em_row_div">
                <div class="em_text">Web Address</div>
                <div class="em_value">
                    <span *ngIf="insurances !==undefined && insurances !== null && insurances.website !== undefined">{{insurances.website}}</span>
                </div>
               </div>
            </div>
         </div>
         <div class="em_title">Description</div>
         <div class="em_pdf_info">
              <div class="desc_table">
                <table>
                  <thead>
                     <tr>
                       <th>Date</th>
                       <th>Description</th>
                     </tr>  
                  </thead>  
                  <tbody>
                     <tr *ngFor="let desc of description">
                       <td>{{desc.updatedDatetime | date: 'MM/dd/yyyy'}}</td> 
                       <td>{{desc.description}}</td>
                     </tr>
                  </tbody>
                </table>
              </div>
         </div>
         <div class="em_title">Contacts</div>
         <div class="em_pdf_info">
            <div class="contact_table">
               <table>
                 <thead>
                   <tr>
                     <th>Company Name</th>
                     <th>First Name</th>
                     <th>Last Name</th>
                     <th>Email</th>
                     <th>Phone No.</th>
                     <th>Address</th>  
                     <th>Contact Type</th>  
                   </tr>  
                 </thead>
                 <tbody>
                    <tr *ngFor="let contact of contacts">
                       <td>{{contact.companyName}}</td>
                       <td>{{contact.firstName}}</td>
                        <td>{{contact.lastName}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phoneNo}}</td>
                        <td>{{contact.address}}</td>
                        <td>{{contact.contactType}}</td>
                    </tr>  
                 </tbody>
               </table>
            </div>
         </div>
         <div class="em_title">Files</div>
         <div class="em_pdf_info">
            <div class="contact_table">
               <table>
                 <thead>
                   <tr>
                     <th>Current Status</th>
                     <th>File No.</th>
                     <th>File Details</th>
                     <th>Supervisor</th>
                     <th>Estimator</th> 
                   </tr>  
                 </thead>
                 <tbody>
                    <tr *ngFor="let subJob of subJobs">
                       <td>{{subJob.status}}</td>
                       <td>{{subJob.subJobCode}}</td>
                        <td>{{subJob.jobType}}</td>
                        <td>{{subJob.supervisor}}</td>
                        <td>{{subJob.estimator}}</td>
                    </tr>   
                 </tbody>
               </table>
            </div>
         </div>
         <div class="em_title">Notes</div>
         <div class="em_pdf_info">
            <div class="note_table">
               <table>
                 <thead>
                   <tr>
                     <th>Date</th>
                     <th>Note By</th>
                     <th>File Type</th>
                     <th>Notes Description</th>
                   </tr>  
                 </thead>
                 <tbody>
                    <tr *ngFor="let note of notes">
                       <td>{{note.datetime | date: 'MM/dd/yyyy'}}</td>
                       <td>{{note.noteby}}</td>
                       <td>{{note.jobType}}</td>
                        <td>{{note.note}}</td>
                    </tr>    
                 </tbody>
               </table>
            </div>
         </div>
     </div>
  </body>
</html>